<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
</head>
<body>
  <p>Hello,</p>
  <p>Your temporary password is: {{ temporaryPassword }}</p>
  <p>Please log in using this temporary password and reset your password immediately.</p>
  <p>Regards,</p>
  <p>Expense Calculator Application</p>
</body>
</html>
